<button (click)="getCharacters()">Home</button>
<button (click)="nextPage()">Next Page</button>
<button *ngIf="hasPrevious()" (click)="prevPage()">Previous Page</button>

<div class="flex-container" *ngIf="searchResult">
  <div class="flex-item" *ngFor="let result of searchResult['results']">
    <img [src]=result.image>
    <ul>id: {{result.id}}</ul>
    <ul>name: {{result.name}}</ul>
    <ul>status: {{result.status}}</ul>
    <ul>gender: {{result.gender}}</ul>
    <ul>origin: {{result.origin.name}}</ul>
    <ul>gender: {{result.gender}}</ul>
  </div>
</div>