<ng-template #loading>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>

<ng-template #noSavedCharacters>
    <div class="center-div">
        <p class="mat-body-2">You don't have any saved characters.</p>
    </div>
</ng-template>

<div *ngIf="showSaved; else noSavedCharacters">
    <div *ngIf="savedCharacters; else loading">
        <div class="flex-container">
            <app-character-card *ngFor="let character of savedCharacters" [character]="character "></app-character-card>
        </div>
    </div>
</div>