ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: gray;
}
li {
  text-align: center;
  border-bottom: 3px solid teal;
}
li a {
  display: block;
  color: yellow;
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
}

li a:hover {
  background-color: black;
  color: red;
}

li a.active {
  background-color: blue;
  color: orange;
}

li:last-child {
  border-bottom: none;
}
