<div>
    <mat-form-field>
        <input matInput placeholder="Name to search" [(ngModel)]="name" (keyup.enter)="search()">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="search()">Search</button>
</div>
<div>
    <mat-form-field>
        <mat-select [(ngModel)]="status" placeholder="Status">
            <mat-option value="any">Any</mat-option>
            <mat-option value="alive">Alive</mat-option>
            <mat-option value="dead">Dead</mat-option>
            <mat-option value="unknown">Unknown</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-select [(ngModel)]="gender" placeholder="Gender">
            <mat-option value="any">Any</mat-option>
            <mat-option value="female">Female</mat-option>
            <mat-option value="male">Male</mat-option>
            <mat-option value="genderless">Genderless</mat-option>
            <mat-option value="unkown">Unknown</mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div *ngIf="searchConducted && searchResult">
    <button [disabled]="!hasPrevious(searchResult)" mat-raised-button color="primary" (click)="switchPage(searchResult.info.prev)">Previous</button>
    <button [disabled]="!hasNext(searchResult)" mat-raised-button color="primary" (click)="switchPage(searchResult.info.next)">Next</button>
    <p>Total pages: {{totalPages}}</p>
</div>
<app-result-area *ngIf="searchConducted" [searchResult]="searchResult"></app-result-area>