<button (click)="getCharacters()">Home</button>
<button (click)="nextPage()">Next Page</button>
<button *ngIf="hasPrevious()" (click)="prevPage()">Previous Page</button>
<div *ngIf="searchResult">
  <p>Current Page: {{searchResult.info.next | currentPage}} </p>
  <p>Total Pages: {{searchResult.info.pages}}</p>
  <label>Jump to page: </label>
  <input name="pageSelector" placeholder="page" [(ngModel)]="selectedPage" (keyup.enter)="getCharacters(selectedPage)" type="number"
    min="1" max="{{searchResult.info.pages}}" maxlength="4">
  <button (click)="getCharacters(selectedPage)">Go</button>
</div>

<div class="flex-container" *ngIf="searchResult">
  <app-character-card class="flex-item" *ngFor="let result of searchResult['results']" [character]="result"></app-character-card>
</div>