<mat-slider matTooltip="Slide to select a page" matTooltipPosition="above" thumbLabel step="1" tickInterval="5" min="1" max="20"
  [(ngModel)]="value">
</mat-slider>

<div class="button-row">
  <button mat-raised-button color="primary" (click)="getPage()">Go to page {{value}}</button>
</div>

<mat-divider [inset]="false"></mat-divider>

<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>

<div *ngIf="searchResult; else loading">
  <div class="flex-container">
    <app-character-card *ngFor="let result of searchResult['results']" [character]="result"></app-character-card>
  </div>
</div>