.button-row {
  text-align: center;
}
.button-row button {
  margin-right: 8px;
}

button {
  margin: 5px;
}

mat-divider {
  margin-top: 15px;
  margin-bottom: 15px;
}

mat-slider {
  margin-top: 30px;
  width: 100%;
}
